// Variables
$text-color-dark: #333333;
$text-color: #FFF;
$background-color: #212424;
$background-color-header: #484848;
$color-accent: #5fbbff;

$tab-item-width: 55px;
$tab-item-height: 45px;

$width-left-sidebar: $tab-item-width*3;
$width-right-sidebar: $tab-item-width*5;

$icon-padding: 10px 20px;

$canvas-margin: 15px;
$canvas-padding: 10px;

$max-height: 800px;
$max-width: 1600px;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

@import "Partials/bootstrapoverwrites";

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";


@import "Partials/normalize";
@import "Partials/app";
@import "Partials/sidebars";
@import "Partials/tabs";
@import "Partials/menuElement";
@import "Partials/canvas";

html, body{
  font-size: 15px;
  line-height: 1.5;
}

