.canvas{
  display:inline-block;
  margin: $canvas-margin;
  padding: $canvas-padding;
  color: $text-color;

  .drawing-area{
    background-color: #656565;
    width: 100%;
    min-width: 800px;
    min-height: 500px;
  }
}