.left-sidebar,
.right-sidebar{
  background-color: $background-color;
  color:$text-color;
}

.right-sidebar{
  max-width: $width-right-sidebar;
  float: right;
}

.left-sidebar{
  max-width: $width-left-sidebar;
  float: left;
}

.input-group{
  .form-control{
    text-align: right;
  }
}